.bold {
	font-weight: 900;
	font-size: xx-large;
	margin: 0px;
}
.white {
	color: #ffffff;
}
.black {
	color: #000;
}
.medium-with-bold {
	font-size: larger;
	font-weight: 400;
}

.bottom {
	display: flex;
	align-items: flex-end;
	width: 100%;
	text-align: left;
}

@media screen and (max-width: 1024px) {
	.bottom {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
