*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.footer{
    height: 70vh;
    width: 100%;
     padding: 50px 160px;
}
.footer-content{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 0.8rem;
padding: 10px;
font-weight:400;
font-size: 13px;
}
.para{
    color: #fff;
    margin-bottom: 40px;
}
.selection{
    padding: 10px;
} 

select {
	padding: 8px;
	background-color: rgb(36, 35, 35);
	color: white;
	border-radius: 5px;
}
.py{
    margin-top: 30px;
    color: #918f8f;
}

@media only screen and (max-width: 600px) {
    .footer-content {
        grid-template-columns: 1fr;
    }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Desktop */
@media only screen and (min-width: 1441px) {
    .footer-content {
        grid-template-columns: repeat(4, 1fr);
    }
}