.single-banner {
	display: flex;
	justify-content: space-evenly;
	height: 400px;
	max-height: 400px;
	overflow: hidden;
	width: 100%;
	background-color: #000000;
}

.content-section {
	height: 100px;
	display: grid;
	justify-content: center;
	align-items: center;
}

.image-section {
	height: 100px !important;
}
